{% extends "base.html" %}
{% block 'title' %} HTML Semântico {% endblock %}    

{% block 'body' %}

<main class="p-5 mb-4 rounded-3">
    <div class="py-5 container-fluid">
      <div class="">
        <h1 class="display-5 text-bg-darkfw-bold">Tags Básicas</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <a href="{% url 'tags' %}" target="_blank"><button class="btn btn-success btn-lg" type="button">Example button</button></a>
      </div>
    </div>
</main>

{% endblock %}